@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900; /* Adjust range based on the variable font's weight support */
  font-style: normal;
}
/* body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 7px; /* Vertical scrollbar width */
  height: 7px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* gray-100 */
  border-radius: 9999px; /* Fully rounded */
}

::-webkit-scrollbar-thumb {
  background: #eab030; /* Primary color for thumb */
  border-radius: 9999px; /* Fully rounded */
}
